<!doctype html>
<html>
    <head>
        <title>Vinny</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('content', function(content) {
                document.getElementById('content').innerHTML = content;
            });
            socket.on('status', function(status) {
                document.getElementById('status').innerText = status;
            });
            socket.on('commands', function(commands) {
                document.getElementById('commands').innerHTML = commands;
            });
            socket.on('chatgpt', function(chatgpt) {
                document.getElementById('chatgpt').innerHTML = chatgpt;
            });

            let editableDiv = document.querySelector('#content');
            let previousValue = editableDiv.textContent;

            editableDiv.addEventListener('input', function() {
                let currentValue = editableDiv.textContent;
                console.log('Old text: ' + previousValue);
                console.log('New text: ' + currentValue);

                // Emit an 'update' event to the server with the new text
                socket.emit('update', { 'text': currentValue });

                // Now update previousValue for the next change
                previousValue = currentValue;
            });
        });
        </script>
        <style>
        #content {
            white-space: pre-line;
        }
        </style>
    </head>
    <body>
        <div id="status">Not Connected</div>
        <div id="chatgpt"></div>
        <div id="commands"></div>
        <div id="content" contenteditable></div>
    </body>
</html>