<!doctype html>
<html>
    <head>
        <title>vinny</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('content', function(content) {
                document.getElementById('content').innerHTML = content;
            });
            socket.on('status', function(status) {
                document.getElementById('status').innerText = status;
            });
            socket.on('commands', function(commands) {
                document.getElementById('commands').innerHTML = commands;
            });
            socket.on('chatgpt', function(chatgpt) {
                document.getElementById('chatgpt').innerHTML = chatgpt;
            });
        });
        </script>
        <style>
        #content {
            white-space: pre-line;
        }
        </style>
    </head>
    <body>
        <div id="status">Not Connected</div>
        <div id="chatgpt"></div>
        <div id="commands"></div>
        <div id="content" contenteditable></div>
    </body>
</html>