<!doctype html>
<html>
    <head>
        <title>vinny</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basic.css') }}">
        <style>
        #content {
            white-space: pre-line;
        }
        #command {
            border: 1px solid black;
            padding: 10px;
            margin-top: 10px;
        }
        </style>
    </head>
    <br>
    <form method="POST" action="/">
        <button type="submit" name="update_button">update</button>
    </form>
    <form method="POST" action="/">
        <button type="submit" name="reset">reset</button>
    </form>
    <br>
    <br>
    <body>
        <div id="command"></div>
        <div class="container"><p>{{ html_content|safe }}</p>
        </div>
      
    </body>
    
</html>