textarea.numbered {
    background: url('numbers.png ');
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
    line-height:16px;
}

.linebox {
    max-width: 10px;

}

.editbox {
    max-width: 500px;

}

.container {
    max-width: 1000px;
    white-space: pre-wrap;
}

.div1{
    max-width: 100px;
    padding-right: 100px;

}
 .div2 {
    width: 500px;
    /* Additional styling for the divs */
}